*{
  margin:0;
  padding: 0;
}

html,body{
  height: 100%;
}

#wrap{
  min-height: 95vh;
}

#gridlay{
	display: grid;
	grid-template-columns:repeat(12,8.34vw);
	grid-template-rows: minmax(8.34vh,auto);
	grid-gap:0 0;
  /*overflow: auto;*/
  /*width: 100%;*/
  
  /*padding-bottom: 10vh;*/
}

header{
	text-align: center;
	grid-row:1;
	grid-column:1/13;
	height: 15vh;
	background: rgb(40,52,59); 
	background: -moz-linear-gradient(-45deg,  rgb(40,52,59) 0%, rgb(130,140,149) 64%, rgb(181,189,200) 100%); 
	background: -webkit-linear-gradient(-45deg,  rgb(40,52,59) 0%,rgb(130,140,149) 64%,rgb(181,189,200) 100%); 
	background: linear-gradient(135deg,  rgb(40,52,59) 0%,rgb(130,140,149) 64%,rgb(181,189,200) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=1 ); 
}

#head1{
  display:block;
  color: #fff;
  font-size:4vh;
  font-weight: bold;
  padding: 3vh;
  width: 40vw;
  margin: 2vh;
  margin-left: auto;
  margin-right: auto;
}

#sign-desk{
  display: none;
  vertical-align: middle;
}

#sign-desk a{
  display: none;
  text-decoration: none;
  font-size:2vh;
  color: #FFF;
  
}

i.fa-sign-in-alt{
  display: none;
  color: #00719e;
  font-size:1vh;
}

.toggle-nav {
  float:left;
  display: inline-block;
  cursor: pointer;
  margin: 2vh;
  margin-top: 4vh;
  padding: 2vh;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.navbar{
	margin: 0;
	padding: 0;
	grid-row:2;
	grid-column:1/13; 
}

.desktop-nav{
  display: none;
}

.mobile-nav{
  display: none;
  background: #7A8B9D;
  transition: .4s ease-in-out;
}

.mobile-nav nav ul{
  display: grid;
  margin: 0;
  padding:0;
  grid-template-rows:repeat(4,auto);
  list-style: none;
}

.mobile-nav.open{
  display: block;
  
}

.mobile-nav nav ul a{
 display: block; 
 text-decoration: none;
 font-weight: bold;
 font-size: 2vh;
 color: #fff;
 height: 5vh;
 padding: 1vh;
 border-bottom: 1px solid;
}

.mobile-nav i.fa-sign-in-alt{
  color:  #00719e;
  display: inline-block;
  font-size:25px;
}

.active{
  background: #387F75;
  -webkit-border-radius: 10%;
          border-radius: 10%;
}

.main{
	background: #000;
  grid-column:1/13;
  grid-row:3;
  display: grid;
  grid-template-columns:repeat(12,8.34vw);
  grid-template-rows:minmax(8.34vh,auto);
  text-align: center;
}

/*.main div{
  border:1px solid;
  border-color: #FFF;
  margin: 3px;
}*/
.main img{
  width: 30vw;
  height: 25vh;
  border:1vw solid;
  border-color: #ff6600;
  border-radius: 10%;
  color: #F60;
  box-shadow: 10px 10px 10px #FFF;
}

.main p{
  color: #F60;
  font-size: 1.8em;
}

.main #bhead1{
  margin:10px;
  padding: 5px;
  color: #ff6600;
  font-size: 2.5rem;
  grid-row:1;
  grid-column:1/13;
}

#bhead1 i.mdd{
  display: block;
  font-size: 1.5em;
  -webkit-transition: .4s;
     -moz-transition: .4s;
      -ms-transition: .4s;
       -o-transition: .4s;
          transition: .4s;
}

#bhead1 i.mdd.open{
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.marvel{
  background: #000;
  grid-column:1/13;
  grid-row:2;
  display: grid;
  grid-template-columns:repeat(12,8.34vw);
  grid-template-rows:repeat(8.34vh,auto);
  text-align: center;
  display: none;  border: 1px solid;
  color: #FFF;
}

.marvel.open{
  display: grid;
}

.marvel p{
  font-size: 2rem;
}

#one{
  margin: 0;
  padding: 1vh;
  grid-row:1;
  grid-column:1/7;

}

#two{
  margin: 0;
  padding: 1vh;
  grid-row:1;
  grid-column:7/13;
}

#three{
  margin: 0;
  padding: 1vh;
  grid-row:2;
  grid-column:1/7;
}

#four{
  margin: 0;
  padding: 1vh;
  grid-row:2;
  grid-column:7/13;
}

#five{
  margin: 0;
  padding: 1vh;
  grid-row:3;
  grid-column:1/7;
}

#six{
  margin: 0;
  padding: 1vh;
  grid-row:3;
  grid-column:7/13;
}

#seven{
  margin: 0;
  padding: 1vh;
  grid-row:4;
  grid-column:1/7;
}

#eight{
  margin: 0;
  padding: 1vh;
  grid-row:4;
  grid-column:7/13;
}

#nine{
  margin: 0;
  padding: 1vh;
  grid-row:5;
  grid-column:1/7;
}

#ten{
  margin: 0;
  padding: 1vh;
  grid-row:5;
  grid-column:7/13;
}

#eleven{
  margin: 0;
  padding: 1vh;
  grid-row:6;
  grid-column:1/7;
}

#twelve{
  margin: 0;
  padding: 1vh;
  grid-row:6;
  grid-column:7/13;
}

#thirteen{
  margin: 0;
  padding: 1vh;
  grid-row:7;
  grid-column:1/7;
}

#fourteen{
  margin: 0;
  padding: 1vh;
  grid-row:7;
  grid-column:7/13;
}

#fifteen{
  margin: 0;
  padding: 1vh;
  grid-row:8;
  grid-column:1/7;
}
#sixteen{
  margin: 0;
  padding: 1vh;
  grid-row:8;
  grid-column:7/13;
}

#seventeen{
  margin: 0;
  padding: 1vh;
  grid-row:9;
  grid-column:1/7;
}

#eighteen{
  margin: 0;
  padding: 1vh;
  grid-row:9;
  grid-column:7/13;
}

#nineteen{
  margin: 0;
  padding: 1vh;
  grid-row:10;
  grid-column:1/7;
}

#twenty{
  margin: 0;
  padding: 1vh;
  grid-row:10;
  grid-column:7/13;
}

#two1{
  margin: 0;
  padding: 1vh;
  grid-row:11;
  grid-column:1/7;
}

#two2{
  margin: 0;
  padding: 1vh;
  grid-row:11;
  grid-column:7/13;
}

#two3{
  margin: 0;
  padding: 1vh;
  grid-row:12;
  grid-column:4/10;
}

#two4{
  margin: 0;
  padding: 1vh;
  grid-row:12;
  grid-column:7/13;
}

.main #bhead2{
  margin:10px;
  padding: 5px;
  color: #ff6600;
  font-size: 2.5rem;
  grid-row:3;
  grid-column:1/13;
}

.det1{
  display: none;
  color: #F60;
}
footer{
  position: relative;
  /*bottom: 0;*/
  grid-column:1/13;
  grid-row:4;
  height: 10vh;
  background: rgb(206,220,231); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgb(206,220,231) 0%, rgb(89,106,114) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgb(206,220,231) 0%,rgb(89,106,114) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgb(206,220,231) 0%,rgb(89,106,114) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  clear: both;
  padding: 1%;
  font-size: 2rem;
}

#foot a{
  text-decoration: none;
  margin: 5px;
}
#foot img{
  width: 5%;
  margin: 1%;
  border-radius: 5px;
  transition-property:width,border-radius,transform;
  transition-duration: 1s;
  transition-delay: .2s;
}

#foot img:hover{
  width: 10%;
  border-radius: 5px;
  -webkit-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);

}
#foot a:hover{
  color:#ffe100;
}

